.video {
  margin: 10px 0;
  border: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  max-width: 350px;
}
.label {
  display: flex;
  flex-direction: row;
  font-size: 16px;
  line-height: 16px;
}
.label p {
  margin-right: 15px;
}
.videosWrapper {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}